body {
    font-family: sans-serif;
    background: #222;
    color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    background: #333;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    margin: 1rem 1rem 0rem 1rem;
}
div{
    margin: 1rem 1rem;
}